{{define "alleRezepte"}}
<!DOCTYPE html>
<html>
  {{template "headAdmin" }}

  <body>
    {{template "headerAdmin"}}

    <section class="section has-background-light">
      <div class="container">
        <!--Start Columns-->
        <div class="columns is-multiline">
          <!--Anfang des Template Rezept-->
          {{range .}}
          {{template "alleRezepteKachel" .}}
          {{ end }}
          <!--Ende Template-->
        </div>
        <!--Ende Columns-->
      </div>
    </section>
  </body>
</html>
{{ end }}
