{{define "alleRezepteKachel"}}
<div class="column is-3 kachel">
            <div class="notification is-white">
              <figure class="image container is-64x64">
                <img class="is-rounded" src="images/{{.Bild}}" alt="" width="80px" />
              </figure>
              <div class="content">
                <div class="title">
                  <br />
                  <a class="kachelname" href="/rezept?id={{.Id}}">{{.Name}}</a>
                </div>
                <div class="container">
                  <br />
                  <div class="columns has-text-centered">
                    <div class="column">
                      <span class="icon">
                        <a href="/rezeptBearbeiten?id={{.Id}}"><i class="fas fa-2x fa-pencil-alt"></i></a>
                      </span>
                    </div>
                    <div class="column">
                      <span class="icon">
                        <a id="{{.Id}}" onclick="modalanzeigen(this)"><i class="fas fa-2x fa-trash"></i></a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{{end}}