{{define  "beitrag"}}

<!DOCTYPE html>
<html>
  {{template "headAdmin" }}

  <body>
    {{template "headerAdmin"}}

    <section class="section has-background-light">
      <div class="container">
        <div class="columns">
          <div class="column is-full">
            <div class="notification has-background-white">
              <div class="content has-text-centered">
                <div class="title">
                  {{.Titel}}
                </div>
              </div>
              <div class="content">
                <p>
                 {{.Inhalt}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

   
{{ end }}