{{define "headAdmin"}}
<head>
    <meta charset="utf-8" />
    <title>Cooking Consultant</title>
    <link rel="stylesheet" href="styles/bulma.css" />
    <link rel="stylesheet" href="styles/design.css" />
    <link rel="stylesheet" href="styles/navbar.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Heebo&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2eecd33853.js"
      crossorigin="anonymous"
    ></script>
  </head>
  {{end}}