html{
    background-color: white;
}

body{
    font-family: 'Heebo', sans-serif;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texthead{
    margin-left: 25px;
}

.startnotification{
    height: 181px;
    
}

.gruen{
    background-color: #6bad67;
}

.icongruen{
    color: #6bad67;
}